pyttsx3==2.99
SpeechRecognition==3.10.4
pyaudio==0.2.14
faster-whisper==1.1.0
soundfile==0.12.1
numpy==2.1.1
pyautogui==0.9.54
pycaw==20240210
comtypes==1.4.8
screeninfo==0.8.1
requests==2.32.3
python-dotenv==1.0.1
PyInstaller==6.11.1
pytest==8.3.3
pyautogui==0.9.54
requests==2.32.3
sounddevice==0.4.7
scipy==1.14.1
faster-whisper==1.1.1
numpy==2.1.2
pyinstaller==6.11.1
